@import url(http://fonts.googleapis.com/css?family=Electrolize);

body {
	padding: 0;
	margin: 0;
	background: #999;
	font-family: 'Electrolize', sans-serif;
}

#hold {
	left: 50%;
	margin-left: -357px;
	margin-top: -400px;
	position: absolute;
	top: 50%;
}

#inner {
	background: #CCC;
	border-radius: 4px;
	box-shadow: 0 0 6px -2px black, 0 0 45px -20px black;
	padding: 5px;
}

#store {
	width: 715px;
	height: 715px;
}

#controls {
	width: 715px;
	height: 60px;
	margin-top: 10px;
	background: #CCC;
	border-radius: 4px;
	box-shadow: 0 0 6px -2px black, 0 0 45px -20px black;
	padding: 5px;
}

#solve {
	height: 100%;
	width: 200px;
	background: #3E7B3E;
	border-radius: 2px;
	float: left;
	text-align: center;
	font-size: 30px;
	line-height: 60px;
}

#solve:hover {
	color: #FFF;
	cursor:	pointer;
}

#clear {
	height: 100%;
	width: 200px;
	background: #A62000;
	border-radius: 2px;
	float: right;
	text-align: center;
	font-size: 30px;
	line-height: 60px;
}

#clear:hover {
	color: #FFF;
	cursor:	pointer;
}

.inside {
	width: 21px;
	height: 21px;
	float: left;
	color: #666;
	text-align: center;
	line-height: 21px;
}

.inside:nth-child(even) {
	background: rgba(0, 0, 0, 0.025);
}

.inside:hover {
	background: #A62000;
	color: #FFF;
	cursor:	pointer;
}

.fill {
	width: 63px;
	height: 63px;
	float: left;
	font-size: 63px;
	color: #666;
	text-align: center;
	line-height: 66px;
}

.text {
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
	padding: 6px;
	width: 63px;
	height: 63px;
	border: 0;
	background: rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 8px 0px rgba(0, 0, 0, 0.8);
}

.text:nth-child(9n -8) {
	margin-left: 0px;
	margin-bottom: 5px;
}

.text:nth-child(n + 73) {
	margin-bottom: 0px;
}

.error {
	background: rgba(166, 32, 0, 0.4);
}